<%- include('../includes/main.ejs') %>

    <main>
        <% if(prods.length > 0) { %>
      <div class="grid">
        <% for (let product of prods) { %>
        <article class="card product-item">
          <header class="card-header">
            <h2 class="product-title"><%= product.name %></h2>
          </header>
          <div class="card-img">
            <img
              src="<%= product.imgUrl %>"
              alt="<%= product.name %>"
            />
          </div>
          <div class="card-content">
            <h2 class="product-price">Rs. <%= product.price.toLocaleString('en-IN') %>/-</h2>
            <p class="product-desc"><%= product.desc %></p>
          </div>
          <div class="card-action">
            <% if (isAuthenticated){ %>
              <form action="/cart" method="POST">
                <button class="btn" type="submit">Add to Cart</button>
                <input type="hidden" name="productId" value="<%= product._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            <% } %>
          </div>
        </article>
        <% } %>
      </div>
      <div style="text-align: center;">
        <a href="/products">
          <button class="btn" style="margin: 3rem; font-size: 1.1rem;">Explore all products...</button>
        </a>
      </div>
      <% } else { %>
      <!-- If there are no products -->
      <h1>No Products Found !</h1>
      <% } %>
    </main>
  </body>
</html>
