<%- include('../includes/main.ejs') %>

    <main>
        <% if(prods.length > 0) { %>
      <div class="grid">
        <% for (let product of prods) { %>
        <article class="card product-item">
          <header class="card-header">
            <h2 class="product-title"><%= product.name %></h2>
          </header>
          <div class="card-img">
            <img
              src="<%= product.imgUrl %>"
              alt="<%= product.name %>"
            />
          </div>
          <div class="card-content">
            <h2 class="product-price">Rs. <%= product.price %>/-</h2>
            <p class="product-desc"><%= product.desc %></p>
          </div>
          <div class="card-action">
            <div class="btn-grp">
              <form action="/products/<%= product._id %>" method="GET">
                <button class="btn" type="submit">Details</button>
              </form>
              <% if (isAuthenticated) { %>
                <form action="/cart" method="POST">
                  <button class="btn" type="submit">Add to Cart</button>
                  <input type="hidden" name="productId" value="<%= product._id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              <% } %>
            </div>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <!-- If there are no products -->
      <h1>No Products Found !</h1>
      <% } %>
    </main>
  </body>
</html>
