<%- include('../includes/main.ejs') %>
    <main>
      <form action="/new-password" method="POST" class="form-control">
        <div class="login-form">
            <h2 style="text-align: center;">Create new password</h2>
            <% if(errorMsg) { %>
              <div class="flash-error">
                <%= errorMsg %>
              </div>
            <% } %>
            <% if(successMsg) { %>
                <div class="flash-error">
                  <%= successMsg %>
                </div>
              <% } %>
            <div class="inner-grp2">
                <label for="newPass">New Password:</label>
                <input type="password" id="newPass" name="newPassword"/>
            </div>
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn login" type="submit">Save password</button>
        <p class="login-bottom">Create a new account? <a href="/signup">Sign up</a></p>
      </form>
    </main>
  </body>
</html>