<%- include('../includes/main.ejs') %>
    <main>
      <form action="/signup" method="POST" class="form-control" novalidate>
        <div class="login-form">
            <h2 style="text-align: center;">Sign Up</h2>
            <% if(errorMsg) { %>
              <div class="flash-error">
                <%= errorMsg %>
              </div>
            <% } %>
            <div class="inner-grp2">
              <label for="name">Name:</label>
              <input 
                class="<%= validationResult.find(e => e.path === 'name') ? 'invalid' : '' %>" 
                type="text" 
                id="name" 
                name="name" 
                placeholder="Tony stark"
                value="<%= oldInput.name || '' %>" 
              />
            </div>
            <div class="inner-grp2">
                <label for="email">E-mail:</label>
                <input 
                  class="<%= validationResult.find(e => e.path === 'email') ? 'invalid' : '' %>" 
                  type="email" 
                  id="email" 
                  name="email" 
                  placeholder="test@gmail.com"
                  value="<%= oldInput.email || '' %>" 
                />
            </div>
            <div class="inner-grp2">
                <label for="pass">Password:</label>
                <input 
                  class="<%= validationResult.find(e => e.path === 'password') ? 'invalid' : '' %>" 
                  type="password" 
                  id="pass" 
                  name="password" 
                  placeholder="create a strong password"
                  value="<%= oldInput.password || '' %>" 
                >
            </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn login" type="submit">Sign Up</button>
        <p class="signup-bottom">Already have account? <a href="/login">Login</a></p>
      </form>
    </main>
  </body>
</html>