<%- include('../includes/main.ejs') %>
    <main>
      <form 
        action="/admin/<% if(isEditing) { %>
            edit-product 
        <% } else { %> 
            add-product 
        <% } %> >" method="POST" class="form-control"
    >
        <div class="input-group">
          <div class="inner-grp">
            <div class="name">
              <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= if(isEditing) { %> product.name <% } %>"/>
            </div>
            <div class="price">
              <label for="price">Price:</label>
            <input type="number" id="price" name="price" value="<%= if(isEditing) { %> product.price <% } %>"/>
            </div>
          </div>
          <div class="inner-grp2">
            <label for="imgUrl">Image URL:</label>
            <input type="text" id="imgUrl" name="imgUrl" value="<%= if(isEditing) { %> product.imgUrl <% } %>">
            <label for="desc">Description:</label>
            <textarea id="desc" name="desc" value="<%= if(isEditing) { %> product.desc <% } %>"></textarea>
          </div>
        </div>
        <% if(isEditing) %>
            <input type="hidden" value="<%= product.id %>" name="productId">
        <%  %>
        <button class="btn" type="submit">
            <% if(isEditing) { %>
                Save changes 
            <% } else { %> 
                Add Product 
            <% } %> 
        >
        </button>
      </form>
    </main>
  </body>
</html>