<%- include('../includes/main.ejs') %>
    <main>
      <form action="/admin/add-product" method="POST" class="form-control" novalidate enctype="multipart/form-data">
        <div class="input-group">
          <% if(errorMsg) { %>
            <div class="flash-error" style="margin: 0.5rem 0.5rem 1.5rem; font-size:large">
              <%= errorMsg %>
            </div>
          <% } %>
          <div class="inner-grp">
            <div class="name">
              <label for="name">Name:</label>
            <input 
              class="<%= validationResult.find(e => e.path === 'name') ? 'invalid' : '' %>" 
              type="text" 
              id="name" 
              name="name" 
              value="<%= oldInput.name %>"
            />
            </div>
            <div class="price">
              <label for="price">Price:</label>
            <input 
              class="<%= validationResult.find(e => e.path === 'price') ? 'invalid' : '' %>" 
              type="number" 
              id="price" 
              name="price" 
              value="<%= oldInput.price %>"
            />
            </div>
          </div>
          <div class="inner-grp2 file-upload-container">
            <!-- <label for="imgUrl">Image URL:</label>
            <input 
              class="<%= validationResult.find(e => e.path === 'imgUrl') ? 'invalid' : '' %>" 
              type="text" 
              id="imgUrl" 
              name="imgUrl" 
              value="<%= oldInput.imgUrl %>"
            > -->
            <label for="imgUrl" class="file-label">Image:</label>
            <input 
              class="file-input <%= validationResult.find(e => e.path === 'imgUrl') ? 'invalid' : '' %>""
              type="file" 
              id="imgUrl" 
              name="imgUrl" 
            >
          </div>
          <div class="inner-grp2">
            <label for="desc">Description:</label>
            <textarea 
              class="<%= validationResult.find(e => e.path === 'desc') ? 'invalid' : '' %>" 
              id="desc" 
              name="desc"
              ><%= oldInput.desc %>
            </textarea>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Add Product</button>
      </form>
    </main>
  </body>
</html>