<%- include('../includes/main.ejs') %>

    <main class="pro-detail">
        <!-- <hr> -->
        <div class="pro-detail-img">
            <img src="<%= product.imgUrl  %>" alt="<%= product.name  %>">
        </div>
        <div class="detail">
            <h1><%= product.name  %></h1>
            <h2><%= product.price  %>/-</h2>
            <p><%= product.desc  %></p>
            <form action="/cart" method="POST">
                <button class="btn" type="submit">Add to Cart</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
            </form>
        </div>
    </main>
</body>
</html>