{{!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="nav">
        <ul class="ul">
          <li class="item"><a href="/">Shop</a></li>
          <li class="item"><a href="/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>

    <main> --}}
    {{#if prods.length}}
    <div class="grid">
      {{#each prods}}
        <article class="card product-item">
          <header class="card-header">
            <h2 class="product-title">{{this.name}}</h2>
          </header>
          <div class="card-img">
            <img
              src="https://www.neh.gov/sites/default/files/styles/medium/public/2018-06/openbooks.jpg?itok=kUdGYpx_"
              alt="A great book"
            />
          </div>
          <div class="card-content">
            <h2 class="product-price">Rs. {{this.price}}</h2>
            <p class="product-desc">{{this.desc}}</p>
          </div>
          <div class="card-action">
            <button class="btn">Add to cart</button>
          </div>
        </article>
      {{/each}}
    </div>
{{else}}
    <h1>No Products</h1>
{{/if}}